{% extends 'Shared/master.twig' %}

{% block WebpageTitle %}
    Test Website | About
{% endblock %}

{% block body %}
    <p>
        <a href="/">Home</a> | <a href="/about">About</a> | <a href="/">Home</a>
    </p>

    <h4>About</h4>

    <p>
        This is a PoC, looking to switch to static websites where I can.
    </p>
{% endblock %}