{% extends 'Shared/master.twig' %}

{% block WebpageTitle %}
    Test Website | Index
{% endblock %}

{% block body %}
    <h4>Homepage</h4>

    <p>
        This is the home page, nothing exciting, just a PoC.
    </p>
{% endblock %}